<!doctype html>

<html lang="en">

<meta charset="utf-8">

    <body>

        <h3> 
            Enter the date range for data request
        </h3>

        <p>
            Date range must not exceed August 2017
        </p>
        
        <form role="form" action="" method="POST">

            Start Date: <input class="text" name="StartDateForm" placeholder="YYYY-MM-DD">
            </br></br>
            End Date: <input class="text" name="EndDateForm" placeholder="YYYY-MM-DD">
            </br>
            </br>
            <button type="submit" name='submit' class="btn btn-default" value="Form sent!">Submit</button>

        </form>
    
    </body>